@model RegisterViewModel

@{
    ViewData["Title"] = "User Registration";
}

<h1>@ViewData["Title"]</h1>
<div class="row mt-3">
    <div class="col-12">
        <form method="post">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="form-group mb-3">
                <label asp-for="Email"></label>
                <input class="form-control" asp-for="Email"></input>
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Password"></label>
                <input class="form-control" asp-for="Password"></input>
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="ConfirmPassword"></label>
                <input class="form-control" asp-for="ConfirmPassword"></input>
                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
            </div>
            <button class="btn btn-primary" type="submit">Register</button>
        </form>
    </div>
</div>
